.music-map {
    position: relative;
    height: 90%;
    width: 80%;

    path {
        transition: opacity 0.2s ease, stroke-width 0.2s ease;

        &.hovered-cell {
            opacity: 1 !important;
            stroke-width: 3px !important;
        }
    }
}