.music-map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.music-map {
    position: relative;
    height: 100%;
    width: 90%;

    path {
        transition: opacity 0.2s ease, stroke-width 0.2s ease;

        &.hovered-cell {
            opacity: 1 !important;
            stroke-width: 3px !important;
        }
    }
}