@import '@vueform/slider/themes/default.css';

.year-slider-container {
    position: fixed;
    right: 20px;
    top: 5%;
    height: 90%;
    z-index: 1000;

    .slider-vertical {
        height: 100%;
    }
}