.description-panel {
	display: block;
	position: relative;
	padding: 80px 0 0 0;
	width: 100%;
	height: 100%;

	.scrollable-area {
		display: block;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		transform: translate(0);

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: #242424;
		}

		&::-webkit-scrollbar-thumb {
			background: #4caf50;
			border-radius: 4px;
		}

		&::-webkit-scrollbar-button {
			display: none;
		}
	}

	&.hidden {
		display: none;
	}

	.close-button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem 2rem;
		font-size: 1.2rem;
		background-color: #4caf50;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			background-color: #45a049;
		}
	}
}