.intro-screen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&.hidden {
		display: none;
	}
}

.panel-text-block {
	padding: 2rem;
	padding-bottom: 0;
	text-align: left;

	h2 {
		font-size: 4rem;
		margin-bottom: 2rem;

		span {
			display: block;

			&:last-child {
				margin-left: 10%;
			}
		}
	}

	hr {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		border-style: dashed;
	}

	p,
	.section {
		font-size: 1.2rem;
		line-height: 1.5;
		margin-bottom: 2rem;
	}

	.group {
		display: flex;
		align-items: center;
		gap: 2rem;
		margin-bottom: 2rem;
	}

	b {
		display: block;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	button {
		padding: 1rem 2rem;
		font-size: 1.2rem;
		background-color: #4caf50;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		white-space: nowrap;

		&:hover {
			background-color: #45a049;
		}
	}

	audio {
		display: none;
		width: 100%;

		&.playing {
			display: block;
		}
	}
}