.record-elements {
	.the-record {
		position: absolute;
		top: 2.5%;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 95%;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;

		@media screen and (max-width: 1024px) {
			height: auto;
			width: 95%;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		svg {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: rgb(20, 20, 20);
		}

		.bar-group {


			.bar-label {
				pointer-events: none;
				user-select: none;
				fill: #fff;
				font-size: 10%;
				line-height: 1;
				font-weight: bold;
				opacity: 0.5;
				pointer-events: none;
			}

			&:hover {
				cursor: pointer;

				.bar-bg {
					opacity: 0.5;
				}

				.bar-fg {
					opacity: 1;
				}

				.bar-label {
					opacity: 1;
				}
			}
		}
	}

	.slider-target {
		position: absolute;
		right: 0.5%;
		top: 2.5%;
		height: 95%;
		width: 2px;

		.slider-base {
			background-color: #242424;

			.slider-connect {
				background-color: lightcoral;
			}

			.slider-tooltip {
				background-color: lightcoral;
				border: 1px solid lightcoral;
			}

			.slider-handle {
				background-color: lightcoral;
			}
		}
	}
}

.record-wrapper.sided {
	.the-record {
		pointer-events: none;
		left: initial;
		transform: translateX(50%);

		.bar-group {

			.bar-bg,
			.bar-fg {
				pointer-events: none;
				opacity: 0.05;
			}

			.bar-label {
				opacity: 0.05;
			}

			&.same-group {

				.bar-bg,
				.bar-fg {
					opacity: 0.25;
				}

				.bar-label {
					opacity: 0.25;
				}
			}

			&.selected {

				.bar-bg,
				.bar-fg {
					opacity: 1;
				}

				.bar-label {
					opacity: 1;
				}
			}
		}

		@media screen and (max-width: 1024px) {
			left: 0;
			top: initial;
			transform: translateY(50%);
		}
	}

	.slider-target {
		display: none;
	}
}