.record-elements {
	.the-record {
		position: absolute;
		top: 2.5%;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 95%;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;

		@media screen and (max-width: 1024px) {
			height: auto;
			width: 95%;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		svg {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: rgb(20, 20, 20);
			animation: spin 45s linear infinite;
		}

		.bars {
			path {
				&.bar-fg {
					pointer-events: none;
				}

				&:hover {
					opacity: 0.5;
				}
			}
		}

		&:hover {
			cursor: pointer;

			svg {
				animation-play-state: paused;
			}
		}
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}

	.slider-target {
		position: absolute;
		right: 0.5%;
		top: 2.5%;
		height: 95%;
		width: 2px;

		.slider-base {
			background-color: #242424;

			.slider-connect {
				background-color: lightcoral;
			}

			.slider-tooltip {
				background-color: lightcoral;
				border: 1px solid lightcoral;
			}

			.slider-handle {
				background-color: lightcoral;
			}
		}
	}
}

.record-wrapper.sided {
	.the-record {
		left: initial;
		transform: translateX(50%);

		svg {
			animation-play-state: paused;
		}

		@media screen and (max-width: 1024px) {
			left: 0;
			top: initial;
			transform: translateY(50%);
		}
	}

	.slider-target {
		display: none;
	}
}